/*!
 * Bootstrap Customized
 *
 * Copyright 2012 ozchamp, Inc
 */

.bs-docs-sidenav {
  width: auto;
  margin: 0 0 10px 0;
}

body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  color: #000;
}
body > .navbar .brand:hover {
  text-decoration: none;
}

a.logo {
	float: left;
	background: url(../img/logo.png) no-repeat;
  background-size: 176px 60px;
  display: block;
  height: 60px;
  moz-background-size: 176px 60px;
  o-background-size: 176px 60px;
  position: relative;
  webkit-background-size: 176px 60px;
  width: 176px;
  text-indent: -9999px;
  margin-right: 12px;
}
.search .input-medium {
	border-radius: 0px;
}
form {
    margin: 8px 0 0 0;
}

.product {
  font-size: 84%;
  padding: 0 2px;
  margin-top: 4px;
  height: 18px;
}